@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

:root {
  --default-layout-header-height: 60px;

}
:root {
  --colorPrimary: rgba(255, 59, 92, 1);
  --colorLink: rgba(255, 59, 92, 1);
  --colorBGPrimary: rgba(18, 18, 18, 1);
  --colorBGSecondary: rgba(37, 37, 37, 1);
}

:root {
  --fontWeightRegular: 400;
  --fontWeightSemibold: 500;
  --fontWeightBold: 700;
  --fontSizeH1: 96px;
  --fontSizeH2: 72px;
  --fontSizeH3: 56px;
  --fontSizeH4: 48px;
  --fontSizeH5: 32px;
  --fontSizeH6: 24px;
  --fontSizeH7: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
