@import "normalize.css";

:root {
  --default-layout-header-height: 60px;

}

:root {
  --colorPrimary: rgba(255, 59, 92, 1);
  --colorPrimary2: rgba(255, 255, 255, 0.9);
  --colorLink: rgba(255, 59, 92, 1);
  --colorBGPrimary: rgba(18, 18, 18, 1);
  --colorBGSecondary: rgba(37, 37, 37, 1);
  --colorConstBGContainer: rgba(255, 255, 255, 0.12);
  --colorConstBGContainer2: rgba(255, 255, 255, 0.08);
  --colorConstBGContainer3: rgba(255, 255, 255, 0.04);

  --colorTextPrimary: rgba(255, 255, 255, 0.9);
  --colorTextSecondary: rgba(255, 255, 255, 0.75);
  --colorLinePrimary: rgba(255, 255, 255, 0);
  --colorLineSecondary: rgba(255, 255, 255, 0.12);
  --colorLineSecondary2: rgba(22, 24, 35, 0.12);
  --colorLineInput: rgba(255, 255, 255, 0.5);
}

:root {
  --font-family: TikTokFont, sans-serif;
  --fontWeightRegular: 400;
  --fontWeightSemibold: 500;
  --fontWeightBold: 700;
  --fontSizeH1: 96px;
  --fontSizeH2: 72px;
  --fontSizeH3: 56px;
  --fontSizeH4: 48px;
  --fontSizeH5: 32px;
  --fontSizeH6: 24px;
  --fontSizeH7: 18px;
  --fontSizeP1: 24px;
  --fontSizeP2: 18px;
  --fontSizeP3: 16px;
  --fontSizeP4: 14px;
  --fontSizeP5: 12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  color: var(--colorTextPrimary);

  a {
    text-decoration: none;
    color: var(--colorTextPrimary);
    cursor: pointer;
  }

  ul {
    list-style: none;
  }
}

//Font embed
@font-face {
  font-family: TikTokFont;
  src: url('../../assets/fonts/TikTokFont-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: TikTokFont;
  src: url('../../assets/fonts/TikTokDisplayFont-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: TikTokFont;
  src: url('../../assets/fonts/TikTokFont-Bold.woff2');
  font-weight: 800;
}
@font-face {
  font-family: TikTokDisPlayFont;
  src: url('../../assets/fonts/TikTokDisplayFont-Semibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: TikTokDisPlayFont;
  src: url('../../assets/fonts/TikTokDisplayFont-Bold.woff2');
  font-weight: 800;
}
