@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

:root {
  --default-layout-header-height: 60px;

}

:root {
  --colorPrimary: rgba(255, 59, 92, 1);
  --colorPrimary2: rgba(255, 255, 255, 0.9);
  --colorLink: rgba(255, 59, 92, 1);
  --colorBGPrimary: rgba(18, 18, 18, 1);
  --colorBGSecondary: rgba(37, 37, 37, 1);
  --colorConstBGContainer: rgba(255, 255, 255, 0.12);
  --colorConstBGContainer2: rgba(255, 255, 255, 0.08);
  --colorConstBGContainer3: rgba(255, 255, 255, 0.04);

  --colorTextPrimary: rgba(255, 255, 255, 0.9);
  --colorTextSecondary: rgba(255, 255, 255, 0.75);
  --colorLinePrimary: rgba(255, 255, 255, 0);
  --colorLineSecondary: rgba(255, 255, 255, 0.12);
  --colorLineSecondary2: rgba(22, 24, 35, 0.12);
  --colorLineInput: rgba(255, 255, 255, 0.5);
}

:root {
  --fontWeightRegular: 400;
  --fontWeightSemibold: 500;
  --fontWeightBold: 700;
  --fontSizeH1: 96px;
  --fontSizeH2: 72px;
  --fontSizeH3: 56px;
  --fontSizeH4: 48px;
  --fontSizeH5: 32px;
  --fontSizeH6: 24px;
  --fontSizeH7: 18px;
  --fontSizeP1: 24px;
  --fontSizeP2: 18px;
  --fontSizeP3: 16px;
  --fontSizeP4: 14px;
  --fontSizeP5: 12px;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.9);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}