.list__settingPopup--header {
  min-width: 223px;
  padding: 8px 0;
  margin: 0;
  background-color: rgb(37, 37, 37);
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.item__wrapper {
  list-style: none;
  width: 100%;
}
