.container__searchResult--header {
  width: 516px;

  .title__suggestAccount {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
}

.container__header {
  width: 100%;
  height: var(--default-layout-header-height);
  background: var(--colorBGPrimary);
  padding-left: 16px;
  padding-right: 24px;
  box-shadow: var(--colorConstBGContainer) 0 1px 1px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--left {
    min-width: 300px;
    display: flex;
    align-items: center;

    a {
      height: fit-content;
    }
  }

  &--center {
    width: 516px;
    padding: 0 8px;

    .container__search {
      background: var(--colorConstBGContainer);
      padding: 12px 16px;
      margin: 0;
      border-radius: 92px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;

      .input__search {
        width: 100%;
        font-weight: var(--fontWeightRegular);
        font-size: 16px;
        line-height: 21px;
        background: transparent;
        color: var(--colorTextPrimary);
        caret-color: rgb(255, 59, 92);
        border: none;
        outline: none;

        &:placeholder-shown {
          text-overflow: ellipsis;
        }
      }

      .icon__wrapper {
        padding: 0 12px;
        color: var(--colorTextSecondary);
      }

      .span__splitter {
        width: 1px;
        height: 28px;
        margin: -3px 0;
        background: var(--colorConstBGContainer);
      }

      .button__search {
        padding: 11px 16px 11px 12px;
        margin: -12px -16px -12px 0px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 22px;
        color: var(--colorTextPrimary);
      }
    }


  }

  &--right {
    display: flex;
    align-items: center;
    flex-direction: row;

    .container__profile {
      width: 32px;
      height: 32px;
      margin-left: 24px;
      background-image: url('');
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      cursor: pointer;
    }

    .iconWrapper__more--header {
      margin-left: 16px;
      padding: 0 4px;
      font-style: normal;
      cursor: pointer;

      .icon__ellipsisVertical--styled {
        width: 20px;
        height: 20px;
        display: block;
      }
    }

    .container__message, .container__inbox--header {
      height: 36px;
      margin-left: 16px;
      padding: 3px 3px 0px;
      cursor: pointer;
      font-size: 23px;
    }

    .container__inbox--header {
      position: relative;

      sup.subBadge {
        min-width: 20px;
        height: 20px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        background: rgb(255, 59, 92);
        font-size: var(--fontSizeP4);
        line-height: 18px;
        padding: 0 6px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -20%;
        left: 16px;
      }
    }
  }
}