
.container__header {
  width: 100%;
  height: var(--default-layout-header-height);
  background: var(--colorBGPrimary);
  padding-left: 16px;
  padding-right: 24px;
  box-shadow: var(--colorConstBGContainer) 0 1px 1px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--left {
    min-width: 300px;
    display: flex;
    align-items: center;

    a {
      height: fit-content;
    }
  }

  &--center {
    width: 516px;
    padding: 0 8px;
  }

  &--right {
    display: flex;
    align-items: center;
    flex-direction: row;

    .container__profile {
      width: 32px;
      height: 32px;
      margin-left: 24px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      cursor: pointer;
    }

    .iconWrapper__more--header {
      margin-left: 16px;
      padding: 0 4px;
      font-style: normal;
      cursor: pointer;

      .icon__ellipsisVertical--styled {
        width: 20px;
        height: 20px;
        display: block;
      }
    }

    .container__message, .container__inbox--header {
      height: 36px;
      margin-left: 16px;
      padding: 3px 3px 0px;
      cursor: pointer;
      font-size: 23px;
    }

    .container__inbox--header {
      position: relative;

      sup.subBadge {
        min-width: 20px;
        height: 20px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        background: rgb(255, 59, 92);
        font-size: var(--fontSizeP4);
        line-height: 18px;
        padding: 0 6px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -20%;
        left: 16px;
      }
    }
  }
}